.search-page .search-left{
    width:20%;
}
.search-page .search-right{
    width:80%;
}
.search-page .search-categories{
    border-top:1px solid #DCDCDC;
    padding-top:13px;
    padding-bottom: 20px;
}
.search-page .search-categories .cat-list{
    color:#7F7F7F;
    padding-top:20px;
}
.search-page .search-categories .cat-list ul>li:hover{
    color:#1C2420;
    cursor: pointer;
    font-weight: bold;
}