.search-page .search-left{
    width:18%;
}
.search-page .search-right{
    width:78%;
}
.search-page .search-categories{
    border-top:1px solid #DCDCDC;
    padding-top:13px;
    padding-bottom: 20px;
}
.search-page .search-categories .cat-list{
    color:#7F7F7F;
    padding-top:20px;
}
.search-page .search-categories .cat-list ul>li:hover{
    color:#1C2420;
    cursor: pointer;
    font-weight: bold;
}
.filter-list .filter-item{
    margin-left:12px;
    padding:4px 9px 4px 12px;
    border:1px solid #EEEEEE;
    border-radius: 13px;
}
.search-right-filters{
    margin-bottom: 39px;
}