.footer{
    background: #1C2420;
    padding:30px 50px;
}
.footer-1,.footer-2,.footer-3,.footer-4{
    color:#fff;
}
.footer-title{
    font-size:20px;
    font-weight: bold;
    color:#fff;
}
.footer .view-all{
    color:#97B4F4;
}
.footer .footer-list{
    margin-top:20px;
}
.footer-top .footer-middle{
    width: 380px;
    text-align: left;
}
.footer-top .footer-middle .footer-slogan{
    font-size: 42px;
    font-weight: 300;
}
.footer-top .footer-middle .footer-slogan-text{
    font-size: 16px;
}
.footer-top .footer-end{
    width:20%;
}
.footer-top .footer-end .footer-end-title{
    font-weight: bolder;
    margin-bottom: 14px;
}
.footer-top .footer-end .footer-icons{
    width:100%;
}