.header{
    position: relative;
}
.top-menu .top-left-menu{
    width:80%;
}
.top-menu .top-right-menu{
    width:20%;
}
.top-menu .search-bar .search{
    height:36px;
    border-radius: 25px;
    width: 300px;
    padding: 0px 20px;
    border:1px solid;
}
.top-menu .search-bar .search-input{
    position: relative;
}
.top-menu .search-bar input::placeholder{
    color:rgba(28,36,32,0.4);
}
.top-menu .search-bar .search-input .icon-search{
    position: absolute;
    right:10px;
}
.top-menu .search-bar .adv-search{
    font-size: 10px;
    color: #2A65EA;
    width: 59px;
    display: block;
    text-align: left;
    margin-left:10px;
    font-weight: 600;
}
.bottom-menu{
    margin-bottom:32px;
}
.bottom-menu span.menus{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
