*{
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}
body{
  color:#1c2420;
}
img{
  vertical-align: bottom;
}
ul{
  list-style: none;
  text-align:left;
  padding: 0;
  margin:0 auto;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
  width: 100%;
  max-width: 1281px;
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.justify-space-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-left{
  align-items: flex-start;
}
.align-right{
  align-items: flex-end;
}
.component-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top:48px;
  margin-bottom: 32px;
}
.category{
  background:#dfe0e3;
  width: 180px;
  height:149px;
}