*{
  font-family: 'Manrope', sans-serif;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
  width: 100%;
  max-width: 1281px;
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.justify-space-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-left{
  align-items: left;
}
.align-right{
  align-items: right;
}
.main-page{

}
